3-Business/4-Services/WebService/WS_Comol_UserActions/Service References/RefActionService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/lm.ActionDataContract" />
  <xs:element name="InsertLoginAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/lm.ActionDataContract" minOccurs="0" name="oLoginAction" nillable="true" type="q1:LoginAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoginAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/lm.ActionDataContract" minOccurs="0" name="oLoginAction" nillable="true" type="q2:LoginAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/lm.ActionDataContract" minOccurs="0" name="oAction" nillable="true" type="q3:UserAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBrowserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/lm.ActionDataContract" minOccurs="0" name="oBrowser" nillable="true" type="q4:BrowserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateModuleUsageTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/lm.ActionDataContract" minOccurs="0" name="oUsage" nillable="true" type="q5:ModuleUsageTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCommunityAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/lm.ActionDataContract" minOccurs="0" name="oAction" nillable="true" type="q6:CommunityAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommunityAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/lm.ActionDataContract" minOccurs="0" name="oAction" nillable="true" type="q7:CommunityAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertModuleAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/lm.ActionDataContract" minOccurs="0" name="oAction" nillable="true" type="q8:ModuleAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateModuleAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/lm.ActionDataContract" minOccurs="0" name="oAction" nillable="true" type="q9:ModuleAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>