3-Business/4-Services/TransferTools/FileTransfer.WinTest/Service References/ServiceReference1/lm.Comol.Core.FileRepository.Domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/lm.Comol.Core.FileRepository.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/lm.Comol.Core.FileRepository.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/lm.Comol.Core.DomainModel" />
  <xs:complexType name="ArrayOfFileTransferBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileTransferBase" nillable="true" type="tns:FileTransferBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileTransferBase" nillable="true" type="tns:ArrayOfFileTransferBase" />
  <xs:complexType name="FileTransferBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseItemIdentifiers">
        <xs:sequence>
          <xs:element minOccurs="0" name="CloneOf" type="ser:guid" />
          <xs:element minOccurs="0" name="CloneOfVersion" type="ser:guid" />
          <xs:element minOccurs="0" name="Decompress" type="xs:boolean" />
          <xs:element minOccurs="0" name="Discriminator" type="tns:FileTransferType" />
          <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifiedOn" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Policy" type="tns:TransferPolicy" />
          <xs:element minOccurs="0" name="Repository" nillable="true" type="tns:RepositoryIdentifier" />
          <xs:element minOccurs="0" name="Status" type="tns:TransferStatus" />
          <xs:element minOccurs="0" name="isCompleted" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileTransferBase" nillable="true" type="tns:FileTransferBase" />
  <xs:complexType name="BaseItemIdentifiers">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/lm.Comol.Core.DomainModel" base="q1:DomainBaseObjectOflong">
        <xs:sequence>
          <xs:element name="_x003C_IdItem_x003E_k__BackingField" type="xs:long" />
          <xs:element name="_x003C_IdVersion_x003E_k__BackingField" type="xs:long" />
          <xs:element name="_x003C_UniqueIdItem_x003E_k__BackingField" type="ser:guid" />
          <xs:element name="_x003C_UniqueIdVersion_x003E_k__BackingField" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseItemIdentifiers" nillable="true" type="tns:BaseItemIdentifiers" />
  <xs:simpleType name="FileTransferType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unmanaged" />
      <xs:enumeration value="Scorm" />
      <xs:enumeration value="Multimedia" />
      <xs:enumeration value="VideoStreaming" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FileTransferType" nillable="true" type="tns:FileTransferType" />
  <xs:simpleType name="TransferPolicy">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="none">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="skipAnalysis">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="deletePreviousFiles">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="deletePreviousAnalysis">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="TransferPolicy" nillable="true" type="tns:TransferPolicy" />
  <xs:complexType name="RepositoryIdentifier">
    <xs:sequence>
      <xs:element name="_x003C_IdCommunity_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IdPerson_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Type_x003E_k__BackingField" type="tns:RepositoryType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepositoryIdentifier" nillable="true" type="tns:RepositoryIdentifier" />
  <xs:simpleType name="RepositoryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Community" />
      <xs:enumeration value="Portal" />
      <xs:enumeration value="User" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RepositoryType" nillable="true" type="tns:RepositoryType" />
  <xs:simpleType name="TransferStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Multimedia_NoCandidates">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-21</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Multimedia_AnalyzeError">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-20</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Scorm_AnalyzeError">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FileTypeError">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UnableToDeleteAfterUnzip">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UnzipFileNotFound">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UploadFileNotFound">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UnableToUnzip">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Error">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ReadyForTransfer">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Copying">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ReadyToUnzip">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Unzipping">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Unzipped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ReadyToDelete">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Completed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Deleting">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Deleted">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ReadyToAnalyze">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Analyzed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Suspended">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransferStatus" nillable="true" type="tns:TransferStatus" />
</xs:schema>