3-Business/4-Services/TransferTools/FileTransfer.WinTest/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/lm.Comol.Core.FileRepository.Domain" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="FileTransferNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Platform" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferAllFilesDirect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Platform" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/lm.Comol.Core.FileRepository.Domain" minOccurs="0" name="toTransfer" nillable="true" type="q1:ArrayOfFileTransferBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DirAllFilesDirect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Platform" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Files" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>