3-Business/3-Modules/lm.Comol.Modules.UserActions/Service References/SRV_accessMonitor/ServiceUserAccessMonitor52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/lm.WS.UserAccessMonitor.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/lm.WS.UserAccessMonitor.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAccessResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccessResult" nillable="true" type="tns:AccessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccessResult" nillable="true" type="tns:ArrayOfAccessResult" />
  <xs:complexType name="AccessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommunityID" type="xs:int" />
      <xs:element minOccurs="0" name="Day" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hour" type="xs:int" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="UsageTime" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessResult" nillable="true" type="tns:AccessResult" />
  <xs:complexType name="ArrayOfUserWithResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserWithResult" nillable="true" type="tns:UserWithResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserWithResult" nillable="true" type="tns:ArrayOfUserWithResult" />
  <xs:complexType name="UserWithResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommunityID" type="xs:int" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="Result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserWithResult" nillable="true" type="tns:UserWithResult" />
</xs:schema>