3-Business/3-Modules/lm.Comol.Modules.UserActions/Service References/SRV_accessMonitor/ServiceUserAccessMonitor53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/lm.WS.ActionStatistics.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/lm.WS.ActionStatistics.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="dtoDate">
    <xs:sequence>
      <xs:element name="Day" type="xs:int" />
      <xs:element name="Hour" type="xs:int" />
      <xs:element name="Month" type="xs:int" />
      <xs:element name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dtoDate" nillable="true" type="tns:dtoDate" />
</xs:schema>