3-Business/4-Services/TransferTools/FileTransfer.WCFUpload/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFFileTransfer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFileTransferService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
        </msf:Streamed>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileTransferRequest">
    <wsdl:part name="parameters" element="tns:FileTransferRequest" />
  </wsdl:message>
  <wsdl:message name="FileTransferRequest_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="Platform" element="tns:Platform" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_Dir_InputMessage">
    <wsdl:part name="parameters" element="tns:Dir" />
  </wsdl:message>
  <wsdl:portType name="IFileTransferService">
    <wsdl:operation name="Upload">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/Upload" name="FileTransferRequest" message="tns:FileTransferRequest" />
    </wsdl:operation>
    <wsdl:operation name="Dir">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/Dir" message="tns:IFileTransferService_Dir_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFileTransferService" type="tns:IFileTransferService">
    <wsp:PolicyReference URI="#NetTcpBinding_IFileTransferService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Upload">
      <soap12:operation soapAction="http://tempuri.org/IFileTransferService/Upload" style="document" />
      <wsdl:input name="FileTransferRequest">
        <soap12:header message="tns:FileTransferRequest_Headers" part="FileName" use="literal" />
        <soap12:header message="tns:FileTransferRequest_Headers" part="Platform" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Dir">
      <soap12:operation soapAction="http://tempuri.org/IFileTransferService/Dir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFFileTransfer">
    <wsdl:port name="NetTcpBinding_IFileTransferService" binding="tns:NetTcpBinding_IFileTransferService">
      <soap12:address location="net.tcp://localhost:19100/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:19100/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>